{% extends 'base.html.twig' %}

{% block title %}Command index{% endblock %}

{% block body %}
    <h1>Command index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>DateCreated</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.id }}</td>
                <td>{{ command.lastname }}</td>
                <td>{{ command.firstname }}</td>
                <td>{{ command.dateCreated ? command.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ command.total }}</td>
                <td>
                    <a href="{{ path('app_command_show', {'id': command.id}) }}">show</a>
                    <a href="{{ path('app_command_edit', {'id': command.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_command_new') }}">Create new</a>
{% endblock %}
